.navbar {
 background-color: #001529;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15x;
}

.menu .menuItem:hover {
  background-color: gray !important;
}
/* 
.dashboardsales {
  background-color: #4976E7 !important;
} */